{:allow [;; transaction functions
         ion-shopping-list.txfn/inc-count
         ion-shopping-list.txfn/dec-count

         ;; web stuff
         ion-shopping-list.core/get-items
         ion-shopping-list.core/add-item

         ;; todo
         ion-shopping-list.core/buy-item
         ]

 :lambdas
 {:get-items
  {:fn ion-shopping-list.core/get-items
   :description "Get contents of shopping list"
   :integration :api-gateway/proxy}
  :add-item
  {:fn ion-shopping-list.core/add-item
   :description "Add item to shopping list"
   :integration :api-gateway/proxy}
  :buy-item
  {:fn ion-shopping-list.core/buy-item
   :description "Mark item as bought"
   :integration :api-gateway/proxy}}

 :app-name "ions-demo"}
